# Игнорируем файлы рабочего пространства (список открытых вкладок и размер панелей)
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/graph.json

# Игнорируем кэш и внутренние бэкапы Obsidian
.obsidian/cache/
.obsidian/backups/
.obsidian/plugins/obsidian-git/

# Игнорируем системные скрытые файлы macOS / Windows в репозитории
.DS_Store
Thumbs.db
